# 缺货详情

## 配置模块

In [156]:
import os
import pandas as pd
import pymysql
import pymssql
import math
import datetime

# 定义月份中文列表
month_names = ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']

# 获取当前月份的中文表示
current_month = datetime.datetime.now().month
month_chinese = month_names[current_month - 2]


server = "192.168.1.250" 
user = "baseline2"
password = "qwert123!@#"
conn = pymssql.connect(server, user, password, 'lichi')

In [157]:
folder_path = r'C:/Users/15516/Desktop/数据处理/test'
# # 获取所有文件夹路径
# folders = get_all_folders(folder_path)

# area_list = ['上海','北京','广州']

# # 打印文件夹路径
# for folder in folders:
#     for area in area_list:
#         df_cp,df_kc,df_jg = file(folder,area)
        
#         print(folder,area)

## 查询代码配置

In [160]:
def get_all_folders(directory):
    folder_list = []
    for root, dirs, files in os.walk(directory):
        for folder in dirs:
            folder_path = os.path.join(root, folder)
            folder_list.append(folder_path)
    return folder_list


def query_list(area):
    
    # 根据地区设置 lichi 变量
    area_mapping = {
        '上海': 'lichi',
        '北京': 'lichi_beijing',
        '广州': 'lichi_guangzhou'
    }
    lichi = area_mapping.get(area, '')
    
    # 查询入库数量数据
    query1 = f'''
    SELECT cInvCode AS 'SKU编码',
        SUM(CASE WHEN DATEDIFF(month, dInputdate, GETDATE()) = 1 THEN igQuantity ELSE 0 END) AS '本月入库数量',
        SUM(CASE WHEN DATEDIFF(month, dInputdate, GETDATE()) = 2 THEN igQuantity ELSE 0 END) AS '上月入库数量'
    FROM {lichi}..pu_purordermaster ma
    INNER JOIN {lichi}..PU_PurOrderDetail de ON ma.pomid = de.pomid 
    WHERE iTaxUnitPrice NOT IN ('0', '0.01', '0.1')
        AND Status IN ('已审核','关闭') 
        AND (SELECT cVenName FROM {lichi}..vendor WHERE ma.cVenCode = cVenCode) NOT LIKE '%励齿医疗%'
        AND igQuantity != 0
    GROUP BY cInvCode
    '''

    # 查询出库数量数据
    query2 = f'''
    SELECT i.cInvCode AS 'SKU编码',
        i.cBrandName AS '品牌',
        SUM(CASE WHEN DATEDIFF(month, dDispatchDate, GETDATE()) = 1 THEN iQuantity ELSE 0 END) AS '本月出库数',
        SUM(CASE WHEN DATEDIFF(month, dDispatchDate, GETDATE()) = 2 THEN iQuantity ELSE 0 END) AS '上月出库数',
        SUM(CASE WHEN DATEDIFF(month, dDispatchDate, GETDATE()) = 3 THEN iQuantity ELSE 0 END) AS '近两月出库数'
    FROM {lichi}..inventory i 
    LEFT JOIN 
    {lichi}..SA_SalesOrderDetail de 
    ON i.cinvcode = de.cinvcode
    {lichi}..SA_SalesOrderMaster ma    
    INNER JOIN 
    ON ma.SOMID = de.somid
    LEFT JOIN 
    WHERE DATEDIFF(MONTH, dDispatchDate, GETDATE()) = 1
        AND Status = '出库完成'
        AND cInvoiceTitle NOT LIKE '%励齿医疗%'
    GROUP BY i.cInvCode, i.cBrandName
    '''

    # 注释：
    # - query1: 用于获取指定条件下的入库数量数据，包括 SKU 编码、本月入库数量和上月入库数量等字段。
    # - query2: 用于获取指定条件下的出库数量数据，包括 SKU 编码、品牌、本月出库数、上月出库数和近两月出库数等字段。
    
    return query1,query2


def file(folder,area,query1,query2):
    df_cp = pd.read_excel(f'{folder}/{area}产品详情.xlsx')
    
    df_kc = pd.read_excel(f'{folder}/{area}库存.xlsx')
    new_columns = ['SKU编码','励齿库存']
    df_kc.columns = new_columns
    
    query1,query2 = query_list(area)
    df_rksl = pd.read_sql(query1, conn) # 入库数量
    df_cksl = pd.read_sql(query2, conn) # 出库数量
    
    df = df_cp[['SKU编码','名称','规格','是否上架','一级分类','二级分类','三级分类']]


    df = df[(df['是否上架'] == '上架') & (~df['SKU编码'].str.startswith(('9', '759'))) & (~df['名称'].str.contains('定制'))]


    df = df.merge(df_cksl,on='SKU编码',how='left').merge(df_rksl,on='SKU编码',how='left').merge(df_kc,on='SKU编码',how='left')
    
    return query1,query2,df

In [161]:
query1,query2,df = file(r'C:/Users/15516/Desktop/数据处理/test/2023-06-01','上海',query1,query2)

C:\Users\15516\AppData\Local\Temp\ipykernel_15208\855434557.py:70: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_rksl = pd.read_sql(query1, conn) # 入库数量
C:\Users\15516\AppData\Local\Temp\ipykernel_15208\855434557.py:71: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_cksl = pd.read_sql(query2, conn) # 出库数量

DatabaseError: Execution failed on sql '
    SELECT i.cInvCode AS 'SKU编码',
        i.cBrandName AS '品牌',
        SUM(CASE WHEN DATEDIFF(month, dDispatchDate, GETDATE()) = 1 THEN iQuantity ELSE 0 END) AS '本月出库数',
        SUM(CASE WHEN DATEDIFF(month, dDispatchDate, GETDATE()) = 2 THEN iQuantity ELSE 0 END) AS '上月出库数',
        SUM(CASE WHEN DATEDIFF(month, dDispatchDate, GETDATE()) = 3 THEN iQuantity ELSE 0 END) AS '近两月出库数'
    FROM lichi..inventory i
    LEFT JOIN
    lichi..SA_SalesOrderDetail de
    ON i.cinvcode = de.cinvcode
    lichi..SA_SalesOrderMaster ma
    INNER JOIN
    ON ma.SOMID = de.somid
    LEFT JOIN
    WHERE DATEDIFF(MONTH, dDispatchDate, GETDATE()) = 1
        AND Status = '出库完成'
        AND cInvoiceTitle NOT LIKE '%励齿医疗%'
    GROUP BY i.cInvCode, i.cBrandName
    ': (102, b"Incorrect syntax near 'lichi'.DB-Lib error message 20018, severity 15:\nGeneral SQL Server error: Check messages from the SQL Server\n")

In [ ]:
df